<h4>Post details:</h4>
<p>
	<br/>
	<%=@row['content']%>
	<br/>
	<br/>
		<h6>Added at <%= @row['created_date']%></h6>
		<br/>
		
</p>
<h4>Comments:</h4>
<% @comments.each do |comment|%>
	<p>
	<hr/>
	<%= comment['content']%>
	<br/>
	<span style="font-size: 75%; color: #999">Added at <%= comment['created_date']%></span>

	</p>
<%end %>

<br/>
<form action='/details/<%=@row['id']%>' method='POST'>
  <textarea  name="content" class="form-control" rows="6" placeholder="Enter comment text"></textarea>
	<br/>  
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>